mixin footerRights(icones = [], autor, url)
    - icones = icones.length > 1 ? `(${icones.join(", ")}) icons` : icones.join(" ") + " icon"
    footer.blockquote-footer #{icones} made by #[a.text-decoration-none.text-muted(href=url) #[cite(title=autor)= autor]] from #[a.text-decoration-none.text-muted(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com]