mixin footerRights(icones = [], autor, url)
    footer.blockquote-footer (#{icones.join(", ")}) made by #[a.text-decoration-none.text-muted(href=url) #[cite(title=autor)= autor]] from #[a.text-decoration-none.text-muted(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com]