extends layout
append head
  link(rel='stylesheet' href='stylesheets/home.css')
block content
  .jumbotron.jumbotron-fluid.px-4.bg-transparent
    p.lead
      a.btn.btn-primary.btn-lg.disabled(href='/apostas' role='button' aria-disabled='true') Gerar Aposta
    hr.bg-light
    p.lead
      a.btn.btn-success.btn-lg(href='/resultados' role='button') Últimos Resultados
    hr.bg-light
    p.text-left.mt-5
      a.btn.btn-outline-info.btn-sm(href='/como_jogar' role='button') Como Jogar?
    

