extends layout
append head
  link(rel='stylesheet' href='stylesheets/home.css')
block content
  .jumbotron.jumbotron-fluid.px-4.bg-transparent
    p.lead
      span.d-inline-block(tabindex='0' data-toggle="popover" data-content="Em Breve")
        a.btn.btn-primary.btn-lg.disabled(href='#' role='button' aria-disabled='true')
          span.fas.fa-marker.mr-2
          | Gerar Aposta
    hr.bg-light
    p.lead
      a.btn.btn-success.btn-lg(href='/resultados' role='button')
        span.fas.fa-receipt.mr-2
        | Últimos Resultados
    hr.bg-light
    p.text-left.mt-5
      a.btn.btn-outline-info.btn-sm.p-2(href='/como_jogar' role='button')
        span.fas.fa-question-circle.mr-1
        | Como Jogar
append scripts
  script(src='/javascripts/main.js')
block footer
  footer
    .inner.p-2
      p.text-muted.text-center.m-0 Desenvolvido por 
        a.text-light(href="https://github.com/Kisedev")
          i.fab.fa-github.mr-1
          | Kise