extends layout
include includes/sorteioResultado.pug

block content
    //- remapea resultados com grupos das dezenas
    .my-3.p-3.bg-light.rounded.shadow-sm
        h5.mb-2 Últimos Resultados
            .row.no-gutters.row-cols-1.row-cols-sm-2.row-cols-lg-3.row-cols-xl-4
                each sorteio in sorteios
                    .col.px-2.mb-3
                        .card.text-center.mt-3
                            .card-header.px-3.d-flex.align-items-baseline.justify-content-between
                                h6.card-title.m-0= sorteio.banca.nome
                                h6.card-subtitle.px-1.border.rounded-lg.border-success= sorteio.extracao
                                small.text-muted= sorteio.data_formatada
                            .card-body.p-0
                                +resultado(sorteio, true)
                            .card-footer.p-2
                                .btn-group(role="group" aria-label="resultado opções")
                                    a.btn.btn-sm.btn-outline-secondary(href='/resultado/'+sorteio.banca.urn)
                                        span.fas.fa-store.mr-2
                                        | Banca
                                    btn.btn.btn-sm.btn-outline-success(data-toggle="modal" data-target="#modalExtracao")
                                        span.fas.fa-receipt.mr-2
                                        | Resultado

        #modalExtracao.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalExtracaoInfo' aria-hidden='true')
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
                .modal-content
                    .modal-header
                        h5#modalExtracaoInfo.modal-title Banca - Extração
                        button.close(type='button' data-dismiss='modal' aria-label='Fechar')
                            span(area-hidden='true') &times
                    .modal-body.p-0
                        ol.list-group.list-group-flush.premios
                            li.list-group-item.d-flex.align-items-center.justify-content-around
                                p.milhar.border.border-success.p-2.rounded-lg 1234
                                .grupo
                                    a.btn.btn-outline-secondary.btn-sm.text-dark(role='button' tabindex="0" data-toggle="popover" data-trigger="focus" title='Cobra' data-content="33-34-35-36") Grupo
                                        span.badge.badge-light.grupo-num 09
                                    img.bd-placeholder-img.rounded.grupo-img.d-none.d-md-inline-block(src='http://placecorgi.com/42' alt='Grupo 09')
                    .modal-footer
                        button.btn.btn-primary(role='button') Imprimir
                        button.btn.btn-secondary(role='button' data-dismiss='modal') Fechar

append scripts
    script(src='/javascripts/main.js')

