header,
footer {
  background-color: var(--dark);
}
.brand {
  position: relative;
  padding-left: 2.5rem;
}
.brand::before {
  content: "";
  position: absolute;
  background-size: 100%;
  left: 0;
}
.navbar-brand::before {
  width: 2rem;
  height: 2rem;
  background-image: url('/images/brand_outline.svg');
}
.main-container {
  padding: 0;
}
/* .premio-num {
  font-weight: 300;
} */
/* .premios {
  counter-reset: milhar;
  list-style-type: none;
}
.milhar::before {
  counter-increment: milhar;
  content: counters(milhar, ".") "º";
  font-weight: 300;
  margin-right: 0.5rem;
} */
.milhar {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .2rem;
}
.grupo {
  font-size: 0.9rem;
}
.grupo-num {
  font-size: 1em;
  cursor: pointer;
}
.grupo-img {
  margin-left: 0.25rem;
}
.note {
  font-size: 1rem;
  margin-bottom: 0;
}
.blockquote-footer {
  font-size: .8em;
}